<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
	
	<head><meta charset="UTF-8" /></head>
	<body>
	<body> 	
		<section class="layout-content" layout:fragment="corpo">
			<nav class="navbar navbar-expand-md bg-light">
				<div class="collapse navbar-collapse" id="navbarsExampleDefault">
					<ul class="navbar-nav mr-auto">
					</ul>
				</div>
			</nav>

			<div class="container">
				<div id="list-home" class="row">

				</div>
			</div>
		</section>
	</body>
</html>